<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>741826828259-idtji01r1tcuo3h3rundcq7ucehgi33b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.741826828259-idtji01r1tcuo3h3rundcq7ucehgi33b</string>
	<key>API_KEY</key>
	<string>AIzaSyDFJ9DR-EUVDtltB1OJ6wGOIeShkQ7YUNU</string>
	<key>GCM_SENDER_ID</key>
	<string>741826828259</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.modernlogintute</string>
	<key>PROJECT_ID</key>
	<string>mitch-login</string>
	<key>STORAGE_BUCKET</key>
	<string>mitch-login.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:741826828259:ios:35dc868b6006a1d58ff2d6</string>
</dict>
</plist>